        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
        @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    [data-theme="green"] {
    --primary-color: #56ab2f;
    --hover-color: #a8e063;
    --active-color: #a8e063;
    --active-shadow: rgba(168, 224, 99, 0.7);
    --back-shadow: rgba(24, 192, 69, 0.3);
    --background-pic: url("https://wallpaperaccess.com/full/1249336.jpg");
    --background-pos: no-repeat center center fixed;
}

[data-theme="red"] {
    --primary-color: #b71c1c;
    --hover-color: #e53935;
    --active-color: #e53935;
    --active-shadow: rgba(229, 57, 53, 0.7);
    --back-shadow: rgba(255, 0, 0, 0.3);
    --background-pic:url("https://wallpaperaccess.com/full/5708252.jpg");
    --background-pos: no-repeat center center fixed;
}


        body {
            font-family: "Roboto Slab", sans-serif;
            background: var(--background-pic) var(--background-pos);
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1.page-title {
            text-align: center;
            color: white;
            background: rgba(0, 0, 0, 0.7);
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 1000;
            font-style: normal;
        }

        .filter-buttons {
            display: flex;
            gap: 10px;
            margin: 20px 0;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .filter-buttons button {
            padding: 10px 20px;
            border: none;
            border-radius: 20px;
            background: var(--primary-color);
            color: white;
            cursor: pointer;
            transition: 0.3s;
            font-family: "Audiowide", sans-serif;
            font-weight: 400;   
            font-style: normal;
            font-size: 24px;
        }
        
        .filter-buttons button:hover {
            background: var(--hover-color);
            transform: translateY(-3px);
        }

        .filter-buttons button.active {
            background: var(--active-color);
            box-shadow: 0 0 10px var(--active-shadow);
        }
        
        .images{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 300px;
            justify-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .image {
            width: 200px;
            height: 200px;
            position: relative;
            perspective: 400px;
            margin-bottom: 10px;
        }

        .image img {
            max-width: 100%;
        }

        .front {
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 300px;
            height: 400px;
            display: flex;
            align-items: center;
            transition: all .8s;
            backface-visibility: hidden;
        }

        .back {
            position: absolute;
            top: 0;
            height: 400px;
            width: 300px;
            background: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            border-radius: 10px;
            box-shadow: 0 0 50px 2px var(--back-shadow);
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            transition: .8s;
        }

        .image:hover .front {
            transform: rotateY(180deg);
        }

        .image:hover .back {
            transform: rotateY(0);
        }
        .like-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: -30px;
        bottom: 50%;
        transform: translateY(50%);
    }

    .like-button {
        background: none;
        border: none;
        font-size: 32px;
        cursor: pointer;
        color: #ffffff;
    }

    .like-button.liked {
        color: red;
    }

    .like-count {
        font-size: 16px;
        color: #ffffff;
        margin-top: 5px;
    }
    .share-button {
       background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
    }
    .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-overlay img {
    width:45%;
    height: 60%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
}

.theme-toggler {
            position: fixed;
            top: 20px;
            right: 20px;
            background: var(--primary-color);
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
            transition: 0.3s;
        }

        .theme-toggler:hover {
            background: var(--hover-color);
        }

        @media (max-width: 768px) {
            .images {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @media (max-width: 530px) {
            .image,
            .back {
                width: 150px;
                height: 150px;
            }
        }     
